@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";


.notification {
    text-align: center;
    font-size: larger;
    background: rgb(61, 144, 227);
    color: white;
    font-family: monospace ;
    z-index: 1; 
    text-decoration: none;
    font-size: 35px;
    left: 0;
    display: block;
    
}

.title {
    font-family: serif;
}

.container {
    background-color: rgb(61, 144, 227);
}

.navbar {
    border: none;
    font-size: 1em;
    text-align: center;
}

.navbar-item {
    color: white;
}

.scatter-plot {
    margin-top: 100px; 
    margin-left: 200px;
}

.dimple-custom-tooltip-box {
    fill: red !important;
}