@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

.notification {
    text-align: center;
    font-size: larger;
    background: blue;
    color: white;
    z-index: 1; 
    padding: 25px 27px 25px 45px;
    text-decoration: none;
    font-size: 25px;
    left: 0;
    display: block;
    
}

.navbar {
    border: none;
    font-size: 1em;
    margin: 0;
    padding-left: 80px;
    text-align: center;
    width: 100%;
}
  
.scatter-plot {
    margin-top: 100px; 
    margin-left: 200px;
}

.dimple-custom-tooltip-box {
    fill: red !important;
}